@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=VT323&display=swap');

body {
    font-family: 'VT323', monospace;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#field {
    background: lightgray;
    min-width: 800px;
    min-height: 800px;
    max-width: 800px;
    max-height: 800px;
    display: flex;
    flex-wrap: wrap;
    border: #C8CAC8 50px ridge;
}

#field div {
    width: 100px;
    height: 100px;
    background: lightgray;
    font-size: 90px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black 2px dashed;
    box-sizing: border-box;
}

.one {
    color: blue;
}

.two {
    color: green;
}

.three {
    color: red;
}

#field .bomb {
    background-image: url("../images/bomb.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
}

#field .cache{
    position: relative;
    background: lightgray;
    border: black 2px dashed;

}

#field .cache::after{
    content: "";
    position: absolute;
    width: 85px;
    height: 85px;
    background: #CBCBCB;
    border: darkgray 10px groove;
    opacity: 1;

}

#field .cache:hover::after{
    opacity: 0;
}


#field .top{
    border-top:none;
}

#field .left{
    border-left:none;
}