body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#field {
    background: lightgray;
    min-width: 800px;
    min-height: 800px;
    max-width: 800px;
    max-height: 800px;
    display: flex;
    flex-wrap: wrap;
    border: lightgray 50px groove;
}

#field div {
    width: 100px;
    height: 100px;
    background: lightgray;
    font-size: 60px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black 2px dashed;
    box-sizing: border-box;
}

.one:after {
    content: '1';
    color: blue;
}

.two:after {
    content: '2';
    color: green;
}

.three:after {
    content: '3';
    color: red;
}

#field .bomb {
    background-image: url("/images/bomb.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
}
